<!DOCTYPE html>
<html>
<head>
  <title>Tour Planner</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<style>
  #arrow {
  	opacity: 0;
  }
  
  .blackout {
  	position: fixed;
  	background: black;
  	height: 100%;
  	width: 100%;
  	z-index: 2;
  	opacity: .65;
  }
 
  #demo {
  	position: relative;
  	background: white;
  	width: 900px;
  	margin: 60px auto;
  	text-align: center;
  	border: 3px solid lightblue;
  	padding: 10px;
  	font-size: 14px;
  	z-index: 3;
  }

  #current {
  	height: 60px;
  }

  strong {
  	color: #6b2607;
  }

  #previous {
  	float: left;
  }

  #previous > input {
  	font-weight: bold;
  	background: white;
  	border: 3px solid lightblue;
  }

  #next {
  	float: right;
  }

  #next > input {
  	border: 3px solid lightblue;
  	font-weight: bold;
  	background: white;
  }

  #next > input:hover,
  #previous > input:hover {
  	background: lightyellow;
  }
  
  #message {
	position: absolute;
	top: -5px;
	margin-left: 95px;
	width: 400px;
  }
  
  .blink {
	  -webkit-animation: blink 2s linear infinite;
	  -webkit-animation-delay: 1s;
	  
	  -moz-animation: blink 2s linear infinite;
	  -moz-animation-delay: 1s;
	  
	  -webkit-animation: blink 2s linear infinite;
	  -webkit-animation-delay: 1s;
  }
  
  @-webkit-keyframes blink {
	  0% { opacity: 1.0; }
	  50% { opacity: 0.1; }
	  100% { opacity: 1.0 ; }
  }
  
  @-moz-keyframes blink {
	  0% { opacity: 1.0; }
	  50% { opacity: 0.1; }
	  100% { opacity: 1.0 ; }
  }
  
  @keyframes blink {
	  0% { opacity: 1.0; }
	  50% { opacity: 0.1; }
	  100% { opacity: 1.0 ; }
  }
  
	.ui-tooltip {
		position: absolute;
		width: 200px;
		background: lightblue;
		padding: 10px;
		border: 1px solid #ccc;
		color: #003;
		z-index: 10;
	}
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script>

	$(document).ready(function () {
		$("a").attr("title", function() {
			if ( !$(this).hasClass("target") ) {
				return "Sorry, but this link is disabled right now. Create an account or sign in as a demo user to check out all the features!";	
			};
		});
	
		$("input").attr("title", function() {
			if ( !$(this).hasClass("target") ) {
				return "Sorry, but this button is disabled right now. Create an account or sign in as a demo user to check out all the features!";	
			};
		});
	
		$("a").click(function () {
			$(this).tooltip();
			$(this).tooltip("open");
		});
	
		$("input").click(function () {
			$(this).tooltip();
			$(this).tooltip("open");
		});




		$('body').on('click', function (event) {
			$target = $(event.target);
			if ( !$target.is(".target") ) {
				event.preventDefault();
			}
		});
	})
</script>

</head>

<body>
	
<%= render 'demo_header' %>
<%= render 'demo/modal' %>

<div id="container" class="clearfix">
	<%= yield %>
</div>

</body>

</html>
