<!DOCTYPE html>
<html>
<head>
  <title>Tour Planner</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<style>
  #arrow {
  	opacity: 0;
  }
</style>

</head>

<body>
	
<%= render 'demo/demo_header' %>
<%= render 'demo/modal' %>
<div id="container" class="clearfix">

	
	<%= yield %>
</div>

</body>
<script>
	$('#container').on('click', function (event) {
		$target = $(event.target);
		if ( $target.is("#target") || $target.is(".target") ) {
			
		} else {
			event.preventDefault();
		}
	})
</script>
</html>
