<% if request.env["HTTP_USER_AGENT"] && request.env["HTTP_USER_AGENT"][/(iPhone|iPod|iPad|Android)/] %>
  <% bg = 'login-bg-phone.jpg' %>
<% else %>
  <% bg = 'login-bg.jpg' %>
<% end %>

<style>
html {
    background:url(<%= asset_path bg %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login {
	margin-top: 100px;
	border: 3px solid black;
	padding: 30px;
	position: relative;
	background-color: #fff;
}

.input {
	font-size: 20px;
}

#welcome {
	margin-bottom: 30px;
}

#demo-user {
	float: right;
}

#sign-ins {
	display: block;
	padding: 20px 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#left-sign-in {
	width: 400px;
	border-right: 1px solid black;
	float: left;
}

#right-create-user {
	margin-left: 80px;
    float: left;
}

.choose-a-band {
	display: none;
	margin-top: 20px;
	text-align: center;
}

.band-choice {
	display: inline-block;
	margin: 0px;
}

.band-choice > img {
	opacity: 1;
	border: 1px solid black;
}

.band-choice > img:hover {
	opacity: .75;
}

.choose-a-band > h1 {
	margin-bottom: 20px;
}
</style>

<script>
	function dropDown(section) {
		$(section).animate({
			height: "toggle",
			opacity: "toggle"
		}, 500)
			
		$('html, body').animate({
				scrollTop: $(section).offset().top
			}, 1000);
	}
</script>

<div id="login" class="clearfix">
	
	<form action="<%= login_url %>" method="post" id="demo-user">
	  <input type="hidden" 
			 name="authenticity_token" 
			 value="<%= form_authenticity_token %>">
  
	 <input type="hidden" name="user[email]" value="demo-user@tourplanner.co">
	 <input type="hidden" name="user[password]" value="password">

	  <div class="submit">	 
	  	   <input type="submit" value="Sign In As Demo User">
	  </div>
	</form>
	
<h1 id="welcome">Welcome to Tour Planner!</h1> 
<%= render 'layouts/errors' %>
  
<div id="sign-ins" class="clearfix">
	
	<div id="left-sign-in"> 
	
		<form action="<%= login_url %>" method="post">
		  <input type="hidden" 
				 name="authenticity_token" 
				 value="<%= form_authenticity_token %>">

		  <div class="input">
		   <label for="user_email">Sign In</label>
		   <input id="user_email"
		   		 name="user[email]"
				 type="text"
				 value="<%= @user.email %>"
				 placeholder="Email">
		  </div>

		  <div class="input">
		   <label for="user_password">Password</label>
		   <input id="user_password"
		  		 name="user[password]"
				 type="password">
		  </div>
	
		  <div class="submit" style="">	 
		   <input type="submit" value="Sign In">
		  </div>
		</form>
	  
	</div>

	<div id="right-create-user">
		<form id="create" action="<%= users_url %>" method="post">
		  <input type="hidden" 
				 name="authenticity_token" 
				 value="<%= form_authenticity_token %>">
	  
		  <div class="input">   
		  <label for="user_email">Create A New Account</label>
		  <input id="user_email"
		   		 name="user[email]"
				 type="text"
				 placeholder="Email">
	      </div>
	  
		  <div class="input">
		  <label for="user_password">Password</label>
		  <input id="user_password"
		  		 name="user[password]"
				 type="password">
		  </div>
	
		  <div class="submit"> 
		  <input type="submit" value="Create Account">
	      </div>
		</form>
	</div>

</div>

	<a href="javascript:dropDown('.choose-a-band')">
		<div class="all-shows-box">
			<h2> Take A Guided Tour </h2>
		</div>
	</a>

	<div class="choose-a-band clearfix" id="left">
		<h1>- Choose An Artist -</h1>
	
		<a href="<%= demo_one_url + "?choice=Beyonce" %>"  id="beyonce">
		<div class="band-choice">
			<%= image_tag "beyonce.jpg" %><br>
			Beyonce
		</div>
		</a>
	
		<a href="<%= demo_one_url + "?choice=The Rolling Stones" %>" id="rolling-stones">
		<div class="band-choice" id="left">
			<%= image_tag "therollingstones.jpg" %><br>
			Rolling Stones
		</div>
		</a>
	
		<a href="<%= demo_one_url + "?choice=Dr. Dog" %>" id="dr-dog">
		<div class="band-choice" id="right">
			<%= image_tag "dr.dog.jpg" %><br>
			Dr. Dog
		</div>
		</a>
	
		<a href="<%= demo_one_url + "?choice=One Direction" %>" id="">
		<div class="band-choice" id="right">
			<%= image_tag "onedirection.jpg" %><br>
			One Direction
		</div>
		</a>
	
	</div>
</div>

