<h1> Requests </h1>

<% if current_user.pending_requests.empty? %>
	<h3> You don't have any requests right now. </h3>
<% end %>

<ul id="all-requests">

<% current_user.pending_requests.each do |request| %>

 <li id="request-block">
	<ul class="block-header">
	  <li class="block-header-item">
		  <%= request.requester.email %> has requested to join your band: 
		  <%= request.band.name %>
	  </li>
	</ul>
	 
	<ul class="block-details">

	    <li class="block-detail">
			<form action="<%= band_memberships_url %>" method="post">
				<input type="hidden" 
				name="authenticity_token" 
				value="<%= form_authenticity_token %>">
				
				<input type="hidden" name="band_membership[band_id]" 
				value="<%= request.band_id %>">
				<input type="hidden" name="band_membership[member_id]" 
				value="<%= request.requester_id %>">
				
				<input type="submit" value="accept">
			</form>
		</li>
		
	    <li class="block-detail">
			<form action="<%= deny_request_url(request) %>" method="post">
				<input type="hidden" 
				name="authenticity_token" 
				value="<%= form_authenticity_token %>">
				
				<input type="hidden" name="_method" value="put">
				
				<input type="submit" value="deny">
			</form>
		</li>
	  
	</ul>
 </li>

<% end %>

</ul>