<header>
	<div class="blackout"></div>
	<nav class="clearfix">
			
		<ul id="left-nav">
			<li class="nav-list-item"> 
				<%= link_to 'My Bands', "#", id: 'manage-link', title: "yuadf" %> | 
			</li>
			
			<li class="nav-list-item"> 
			    <%= link_to 'All Bands', "#"%> 
			</li>
			
		</ul>
		
		
		<ul id="right-nav">	
			<li class="nav-list-item">
				<div style="opacity: 0; 
							background: transparent; 
							float: left; 
							position: relative; 
							right: 0; 
							bottom: 0, display: none" class="header-arrow">
							
					<%= image_tag "demo-arrow.png", height: "20px"%>
				</div>
			</li>
			
			<li class="nav-list-item" id="target"> 
				<%= link_to "Notifications", demo_notifications_url, id: "notifications" %> 
				( <%= @requests %> ) |
			</li>
			
			<li class="nav-list-item"> 
				<%= link_to "Settings", "" %> |
			</li>
			
			<li class="nav-list-item" style="position=relative;"> 
				<%= button_to 'Log Out', logout_url, method: :delete, id: 'logout', style: "z-index:10", class: "target"  %>
				<p id="message" > << Click <strong>Log Out</strong> To Quit Guided Tour</p>
			</li>
			
		</ul>
		
		
	</nav>
</header>