<style>
	#message {
		position: fixed;
		top: -5px;
		margin-left: 95px;
		width: 400px;
	}
	
</style>



<header>
	

	
	<nav class="clearfix">
			
		<ul id="left-nav">
			<li class="nav-list-item"> 
				<%= link_to 'My Bands', "#", id: 'manage-link' %> | 
			</li>
			
			<li class="nav-list-item"> 
			    <%= link_to 'All Bands', "#"%> 
			</li>
			
		</ul>
		
		
		<ul id="right-nav">	
			<li class="nav-list-item"> 
				<%= link_to "Requests", "" %> 
				( 0 ) |
			</li>
			
			<li class="nav-list-item"> 
				<%= link_to "Settings", "" %> |
			</li>
			
			<li class="nav-list-item" style="position=relative;"> 
				<%= button_to 'Log Out', logout_url, method: :delete, id: 'logout'  %>
				<p id="message"> << Click here to quit guided tour</p>
			</li>
			
		</ul>
		
		
	</nav>
</header>