<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
<style>
	#map {
		border: 1px solid black;
		width: 100%;
		height: 500px;
		z-index: 0;
	}
</style>

<div id="map-container">
	<div id='map'></div>
</div>

<div style="float: right; position: relative; right: 920px; bottom: 17px" id="arrow">
	<%= image_tag "demo-arrow.jpg", width: "75px"%>
</div>

<%= button_to "Get Embed", "javascript:dropDown('#hidden')", 
	method: :none, 
	class: "target tour-buttons" %>
<%= button_to "Calculate Distance", "javascript:dropDown('#hidden-distance')", 
	method: :none, 
	class: "target tour-buttons" %>
		
<%= button_to "Hide Shows", "javascript:dropDown('#hidden-shows')", 
	method: :none, 
	class: "tour-buttons target",
		id: "show-reveal" %>

<%= button_to "Hide Map", "javascript:dropDown('#map-container')", 
	method: :none, 
	class: "tour-buttons target",
		id: "map-reveal" %>
		
<div class="clearfixtop">
		<div id="hidden-distance">
			<h2> Total Distance: <%= @distance %> miles </h2>
		</div>
		
		<div id="hidden">
		  <p> 
			  Paste the following code on your site wherever you want the map
			  to show up. When you make changes to this tour on Tour Planner, 
			  the changes will be reflected on your site:
	      </p>
		  
		  <p> (Props to Mapbox) </p>
		  <hr>
		  <p><%= render 'tours/embed_code', tour: @tour%></p>
	    </div>
</div>
<br>

<section id="hidden-shows" class="clearfixtop">
	<ul id="all-shows">
	   <%= render @tour.events, hide_band_name: true %>
	</ul>
</section>



<script>
	var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
	    .setView([38, -102.0], 9);

	map.scrollWheelZoom.disable();

	var featureLayer = L.mapbox.featureLayer()
	    .setGeoJSON(<%= @geo_data %>)
	    .addTo(map);

	map.fitBounds(featureLayer.getBounds());


	var showCount = <%= JSON.parse(@geo_data).count %>
</script>

<script>
	function dropDown(section) {
		$(section).animate({
			height: "toggle",
			opacity: "toggle"
		}, 500);
		
		if (section === "#map-container" && $("#map-reveal").attr("value") === "Hide Map") {
			$("#map-reveal").attr("value", "Show Map")
		} else if (section === "#map-container") {
			$("#map-reveal").attr("value", "Hide Map")
		}
		
		if (section === "#hidden-shows" && $("#show-reveal").attr("value") === "Hide Shows") {
			$("#show-reveal").attr("value", "See  Shows")
		} else if (section === "#hidden-shows") {
			$("#show-reveal").attr("value", "Hide Shows")
		}
	};
</script>


