<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
<style>
	#map {
		border: 1px solid black;
		width: 100%;
		height: 500px;
		z-index: 0;
	}
</style>

<div id='map'>
</div>
<%= button_to "Get Embed", "javascript:dropDown('#hidden')", method: :none, class: "target" %>
<div class="clearfix">
		<div id="hidden">
		  <p> 
			  Paste the following code on your site wherever you want the map
			  to show up. When you make changes to this tour on Tour Planner, 
			  the changes will be reflected on your site:
	  </p>
		  <p> (Props to Mapbox) </p>
		  <hr>
		  <p><%= render 'tours/embed_code', tour: @tour%></p>
	</div>
</div>
<br>
<h1> Total Distance: <%= @distance %> miles </h1>



<script>
	var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
	    .setView([38, -102.0], 9);

	map.scrollWheelZoom.disable();

	var featureLayer = L.mapbox.featureLayer()
	    .setGeoJSON(<%= @geo_data %>)
	    .addTo(map);

	map.fitBounds(featureLayer.getBounds());


	var showCount = <%= JSON.parse(@geo_data).count %>
</script>

<script>
	function dropDown(section) {
		$(section).animate({
			height: "toggle",
			opacity: "toggle"
	}, 500)
			
		$('html, body').animate({
				scrollTop: $(section).offset().top
			}, 1000);
	}
</script>


