<h1> Requests </h1>

<% if false %>
	<h3> You don't have any requests right now. </h3>
<% end %>

<ul id="all-requests">

<% @pending_requests.each do |request| %>

 <li id="request-block">
		  <strong><%= @email %> </strong>
		  <br>
		  has requested to join your band: 
		  <br>
		  <strong><%= @band.name %></strong>
		  <br>

			<form action="<%= demo_admins_url %>" method="get">
				<input type="hidden" 
				name="authenticity_token" 
				value="<%= form_authenticity_token %>">
				
	
				<input type="submit" value="Accept" class="target">
			</form>
		
			<form action="<%= deny_request_url(request) %>" method="post">
				<input type="hidden" 
				name="authenticity_token" 
				value="<%= form_authenticity_token %>">
				
				<input type="hidden" name="_method" value="put">
				
				<input type="submit" value="Deny">
			</form>
	  
 </li>

<% end %>

</ul>

<hr>

<h1> Notifications </h1>

<% if true %>
	<h3> You don't have any notifications right now. </h3>
<% end %>

<div style="float: left; position: relative; right: 120px; bottom: 185px" id="arrow">
	<%= image_tag "demo-arrow.jpg", width: "100px"%>
</div>

<script>
	$('#header-arrow').css("display", "none")
</script>