<div id="show-heading" class="clearfix">
	<%= render 'layouts/errors' %>
	
	<h1> <%= @band.name %> </h1>

	<div id="show-image">
	  <%= image_tag @image, class: "header-image" %>
    </div>
	
	<% if true %>
	<div id="change-image">
		<div class="edit">
		<% if false%>
			<%= link_to 'Edit Band', edit_band_url(@band)%> |
			<%= link_to 'Delete Band', band_url(@band), method: :delete %> 
		<% end %>
		</div>
	
		<form id="edit-image" action="" method="get"   enctype="multipart/form-data">
		  <input type="hidden" name="_method" value="put">

		  <div class="input">
		    <label for="band_image">Change Band Image</label>
		    <input id="band_image" name="band[image]" type="file">
		  </div>
  
		  <div class="submit">
		    <input type="submit" value="Update Image">
		  </div>
		</form>
		or 
		
		<form id="edit-image" style="display: inline" action="" method="get"   enctype="multipart/form-data">
		  <input type="hidden" name="_method" value="put">
	
		  <input type="hidden" 
				 name="authenticity_token" 
				 value="<%= form_authenticity_token %>">

		  <div class="submit">
		    <input type="submit" value="Grab Image">
		  </div>
		</form>
</div>
	<% end %>
	
	<h3> Members </h3>
	<ul id="members-list">

	<% @band.band_memberships.each do |membership| %>
	  <li class="member-list-item">
		  <a href="">
		  <%= membership.member.email %> 
	  
		  <% if membership.role %>
			  - <%= membership.role %>
		  <% end %>
	  
		  <% if true %>
			  <%= membership.member.is_band_admin?(@band) ? "(Admin)" : "" %>
		  <% end %>
		  </a>
	  
		  <% if false %>
			  <%= button_to "Make Admin", make_admin_url(membership), method: :put %>
		  <% end %>
	  </li>
	<% end %>
	</ul>

</div>

<% if @band.events.count > 0 %>
	<a href="<%= band_events_url(@band) %>">
		<div class="all-shows-box">
			<h2> All <%= @band.name + "'s" %> Shows </h2>
		</div>
	</a>
<% end %> 



<ul id="all-tours">
	<% @tours.each do |tour| %>
	<h1> Tours </h1>
	<li id="tour-block">
		<ul class="block-header">
			<li class="block-header-item"> 
				<%= link_to tour.name, demo_band_tour_url %>
			</li>
	    </ul>
		
		<ul id="block-details">

			<% if false%>
				<li class="block-detail"> 
					<%= link_to 'delete', tour_url(tour), method: :delete %>
				</li>
			<% end %>
		</ul>
	</li>
	
	<% end %>
</ul>

<% if true %>
	<a href="">
		<div class="add-box">
			<h2> + Create a Tour </h2>
		</div>
	</a>
<% end %>

<div style="float: left; position: relative; right: 150px; bottom: 180px">
	<%= image_tag "demo-arrow.png", width: "100px"%>
</div>

<p>
<h2 style="display: block; position: relative; right: 100px"> Events (<%= @events.count %>) </h2>
</p>
<% if true%>

<% end %>

<ul id="all-shows">
	<% @events.each do |event| %>

	<li id="show-block">
		<ul class="block-header">
			<% unless true # band name doesn't appear on user page%>
			  <li class="block-header-item"> 
				  <%= link_to event.band.name, "" if event.band %> 
			  </li>
			<% end %>
		<a href="">
			<li class="block-header-item"> 
				<%= l event.date, format: "%d %B %Y"%> 
				<% unless !event.name || event.name.empty? %>
					- <%= event.name %>
				<% end %>
			</li>
		</a>
	    </ul>
	    
		
		<hr>
		
		<ul id="block-details">
			<li class="block-detail"> 
				<a href="">
				  <%= event.venue.name %> 
				</a>
			</li>
			<li class="block-detail"> <%= event.venue.address %> </li>
			<li class="block-detail"> <%= event.venue.city %>, <%= event.venue.state %>  </li>
			<li class="block-detail"> <%= event.venue.zipcode %> </li>
			
			
			<% if false %>
				<li class="block-detail"> 
					<%= link_to 'delete', event_url(event), method: :delete, class: "delete-button" %>
				</li>
			<% end %>
			
		</ul>
	</li>
	
	<% end %>
</ul>
