<h1> Settings </h1>

<%= render 'layouts/errors' %>

<form id="edit-user-email" action="<%= user_url(current_user) %>" method="post">
  <input type="hidden" name="_method" value="put">
	
  <input type="hidden" 
		 name="authenticity_token" 
		 value="<%= form_authenticity_token %>">

		 
  <label for="user_email">Change Email</label>
  <input id="user_email"
   		 name="user[email]"
		 type="text"
		 value="<%= @user.email %>">
		 
  <input type="submit" value="Change Email">
</form>

<form id="edit-user-password" action="<%= user_url(current_user) %>" method="post">
  <input type="hidden" name="_method" value="put">
	
  <input type="hidden" 
		 name="authenticity_token" 
		 value="<%= form_authenticity_token %>">

  <label for="confirm-password">Confirm Current Password</label>
  <input id="confirm-password"
  		 name="pw[old_password]"
	     type="password">
		 
  <label for="new-password">New Password</label>
  <input id="new-password"
   		 name="pw[new_password]"
		 type="password">
		 
  <input type="submit" value="Change Password">
</form>