<h1> <%= @user.email %></h1>

<%= image_tag @user.image.url(:thumb), class: "header-image" %>

<form id="edit-user-image" action="<%= user_url(current_user) %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">
	
  <input type="hidden" 
		 name="authenticity_token" 
		 value="<%= form_authenticity_token %>">

  <div class="input">
  <label for="user_image">Change Your Image</label>
  <input id="user_image" name="user[image]" type="file">
  </div>
  
  <div class="submit">
  <input type="submit" value="Update Image">
  </div>
</form>


<%= render 'bands/list', user: @user %>

<% if @user == current_user %>
	<a href="<%= new_band_url %>">
		<div class="add-box">
			<h2> + </h2>
			<h2> Add Band </h2>
		</div>
	</a>
<% end %>