<% heading = (@event.persisted?) ? "Edit Show Details" : "Create A New Show" %>
<% submit = (@event.persisted?) ? "Update Show" : "Create Show" %>
<% action = (@event.persisted?) ? band_event_url(band, @event) : band_events_url(band) %>

<h1><%= heading %></h1>
<hr>

<%= render 'layouts/errors' %>

<form id="new-event-form" action="<%= action %>" method="post" enctype="multipart/form-data">
    <% if @event.persisted? %>
      <input type="hidden" name="_method" value="put">
    <% end %>
	
    <input type="hidden" 
  		 name="authenticity_token" 
  		 value="<%= form_authenticity_token %>">

	<div class="left-form">
	
		<div class="input">
		<label for="show_date">Date</label>
		<input id="show_date" type="date" name="event[date]" 
		value="<%= l @event.date, format: "%Y-%m-%d" if @event.date %>">
		</div>
		
		<div class="input">	
		<label for="show_name">Name(optional)</label>
		<input id="show_name" type="text" name="event[name]" value="<%= @event.name %>">
		</div>
	
		<div class="input">	 
	    <label for="event_poster">Show Poster</label>
	    <input id="event_poster" name="event[poster]" type="file">
		</div>
		
		<div class="submit"> 
		<input type="submit" value="<%= submit %>">
		</div>
		
		<br>
		<hr>
		<br>
		
		<h2> Optional </h2>
		<div class="optional-event-form clearfixtop">	
			<div class="select">
			<label for="tour_picker">Add Your Show To A Tour</label>
			<select id="tour_picker" name="tour[id]">
				<option value=""></option>
				<% band.tours.each do |tour| %>
				<option value="<%= tour.id %>" 
					<%= @event.tour && @event.tour.id == tour.id ? "selected" : "" %>> 
					<%= tour.name %>
				</option>
				<% end %>
			</select>
			</div>
		
			<div class="input">
			<label for="tour_name">Or Name A New Tour</label>
			<input id="tour_name" type="text" name="tour[name]" value="">
			</div> 
		</div>

	</div>
	
	<div class="right-form">
	
		<div class="select">
		<label for="venue_picker">Choose an existing venue</label>
		<select id="venue_picker" name="venue[id]">
			<option value=""></option>
			<% Venue.all.each do |venue| %>
			<option value="<%= venue.id %>" 
				<%= (@event.venue && @event.venue.id == venue.id) ? "selected" : "" %>> 
				<%= venue.name %>
			</option>
			<% end %>
		</select>
		</div>
	
		<h2> Or create a new venue </h2>
	
		<div class="input">
		<label for="venue_name">Venue Name</label>
		<input id="venue_name" type="text" name="venue[name]" value="">
		</div>
	
		<div class="input">
		<label for="venue_address">Address</label>
		<input id="venue_address" type="text" name="venue[address]" value="">
		</div>
	
		<div class="input">
		<label for="venue_city">City</label>
		<input id="venue_city" type="text" name="venue[city]" value="">
		</div>
	
		<div class="input">
		<label for="venue_state">State</label>
		<input id="venue_state" type="text" name="venue[state]" value="">
		</div>
	
		<div class="input">
		<label for="venue_zipcode">Zip Code (optional)</label>
		<input id="venue_zipcode" type="text" name="venue[zipcode]" value="">
	</div>

</form>