<% heading = (@event.persisted?) ? "Edit Show Details" : "Create A New Show" %>
<% submit = (@event.persisted?) ? "Update Show" : "Create Show" %>
<% action = (@event.persisted?) ? band_event_url(band, @event) : band_events_url(band) %>

<h2><%= heading %></h2>

<%= render 'layouts/errors' %>

<form id="new-event-form" action="<%= action %>" method="post" enctype="multipart/form-data">
    <% if @event.persisted? %>
      <input type="hidden" name="_method" value="put">
    <% end %>
	
    <input type="hidden" 
  		 name="authenticity_token" 
  		 value="<%= form_authenticity_token %>">

	<label for="show_date">Date</label>
	<input id="show_date" type="date" name="event[date]" value="<%= l @event.date, format: "%Y-%m-%d" if @event.date %>">
		
	<label for="show_name">Name(optional)</label>
	<input id="show_name" type="text" name="event[name]" value="<%= @event.name %>">
		 
    <label for="event_poster">Show Poster</label>
    <input id="event_poster" name="event[poster]" type="file">
	
	<h2> Choose an existing venue </h2>
	<label for="venue_picker">Venues</label>
	<select id="venue_picker" name="venue[id]">
		<option value=""></option>
		<% Venue.all.each do |venue| %>
		<option value="<%= venue.id %>" 
			<%= (@event.venue && @event.venue.id == venue.id) ? "selected" : "" %>> 
			<%= venue.name %>
		</option>
		<% end %>
	</select>
	
	<h2> Or create a new venue </h2>
	<label for="venue_name">Venue Name</label>
	<input id="venue_name" type="text" name="venue[name]" value="">
	
	<label for="venue_address">Address</label>
	<input id="venue_address" type="text" name="venue[address]" value="">
	
	<label for="venue_city">City</label>
	<input id="venue_city" type="text" name="venue[city]" value="">
	
	<label for="venue_state">State</label>
	<input id="venue_state" type="text" name="venue[state]" value="">
	
	<label for="venue_zipcode">Zip Code</label>
	<input id="venue_zipcode" type="text" name="venue[zipcode]" value="">
	
	<hr>
	<h2> Add your show to a tour (optional) </h2>
	
	<h2> Choose an existing tour </h2>
	<label for="tour_picker">Tour</label>
	<select id="tour_picker" name="tour[id]">
		<option value=""></option>
		<% band.tours.each do |tour| %>
		<option value="<%= tour.id %>" 
			<%= @event.tour && @event.tour.id == tour.id ? "selected" : "" %>> 
			<%= tour.name %>
		</option>
		<% end %>
	</select>
	
	<h2> Or create a new tour </h2>
	<label for="tour_name">Tour Name</label>
	<input id="tour_name" type="text" name="tour[name]" value="">
	 
	<input type="submit" value="<%= submit %>">
</form>