<hr>
<h2>Add Another Show:</h2>

<form action="<%= band_events_url(band) %>" method="post">
    <input type="hidden" 
  		 name="authenticity_token" 
  		 value="<%= form_authenticity_token %>">

	<label for="show_name">Name(optional)</label>
	<input id="show_name" type="text" name="event[name]" value="<%= @event.name %>">
	
	<label for="show_date">Date</label>
	<input id="show_date" type="date" name="event[date]" value="<%= @event.date %>">
	
	<h2> Choose an existing venue </h2>
	<label for="venue_picker">Venues</label>
	<select id="venue_picker" name="venue[id]">
		<option value=""></option>
		<% Venue.all.each do |venue| %>
		<option value="<%= venue.id %>"> 
			<%= venue.name %>
		</option>
		<% end %>
	</select>
	
	<h2> Or create a new venue </h2>
	<label for="venue_name">Venue Name</label>
	<input id="venue_name" type="text" name="venue[name]" value="">
	
	<label for="venue_address">Address</label>
	<input id="venue_address" type="text" name="venue[address]" value="">
	
	<label for="venue_city">City</label>
	<input id="venue_city" type="text" name="venue[city]" value="">
	
	<label for="venue_state">State</label>
	<input id="venue_state" type="text" name="venue[state]" value="">
	
	<label for="venue_zipcode">Zip Code</label>
	<input id="venue_zipcode" type="text" name="venue[zipcode]" value="">
	 
	<input type="submit" value="Add Show">
</form>