<h2> Events (<%= events.count %>) </h2>

<ul id="all-shows">
	<% events.each do |event| %>

	<li id="show-block">
		<ul class="block-header">
			<% unless hide_band_name # band name doesn't appear on user page%>
			  <li class="block-header-item"> 
				  <%= link_to event.band.name, band_url(event.band) if event.band %> 
			  </li>
			<% end %>
		<a href="<%= event_url(event) %>">
			<li class="block-header-item"> 
				<%= l event.date, format: "%d %B %Y"%> 
				<% unless !event.name || event.name.empty? %>
					- <%= event.name %>
				<% end %>
			</li>
	    </ul>
	    </a>
		
		<hr>
		
		<ul id="block-details">
			<a href="<%= venue_url(event.venue) %>">
				<li class="block-detail"> Venue: <%= event.venue.name %> </li>
			</a>
			<li class="block-detail"> Address: <%= event.venue.address %> </li>
			<li class="block-detail"> City: <%= event.venue.city %> </li>
			<li class="block-detail"> State: <%= event.venue.state %> </li>
			<li class="block-detail"> Zip Code: <%= event.venue.zipcode %> </li>
			
			
			<% if event.band && current_user.is_band_admin?(event.band) %>
				<li class="block-detail"> 
					<%= button_to 'delete', event_url(event), method: :delete, class: "delete-button" %>
				</li>
			<% end %>
			
		</ul>
	</li>
	
	<% end %>
</ul>