<style>
	#hidden {
		display: none;
	}
	
	#get-embed {
		padding: 5px;
		border: 1px solid black;
	}
	
	#get-embed:hover {
		background: lightyellow;
	}
	
	#distance {
		vertical-align: text-top;
	}
</style>

<script>
	function dropDown(section) {
		$(section).animate({
			height: "toggle",
			opacity: "toggle"
		}, 500)
	}
</script>

<% band_name = @events.first.band.name + "'s" if params[:band_id] %>

<h1> All <%= band_name %> Events (<%= @events.count %>) </h1>
<hr>

<div id="map-container">
	<%= render 'tours/map', geo_data: @geo_data %>
</div>

<% if params[:id] || params[:band_id] %>
<div class="clearfix">
	<h2> <a href="javascript:dropDown('#hidden')" id="get-embed"> Get Embed </a> </h2>
	<div id="hidden">
	  <p> 
		  Paste the following code on your site wherever you want the map
		  to show up. When you make changes to this tour on Tour Planner, 
		  the changes will be reflected on your site:
	  </p>
	  <p> (Props to Mapbox) </p>
	  <hr>
	  <p><%= render 'tours/embed_code', tour: @tour%></p>
	</div>

	<h2 id="distance"> Total Travel Distance: <%= @distance %> miles</h2>
</div>
<% end %>

<% if @band %>
	<% if current_user.is_band_admin?(@band) %>
		<%= button_to "Grab Shows From Seat Geek", band_grab_shows_url(@band) %>

		<a href="<%= new_band_event_url(@band) %>">
			<div class="add-box">
				<h2> + Add Show </h2>
			</div>
		</a>
	<% end %>
<% end %>

<%= render 'events/list', events: @events, hide_band_name: false %>