<% band_name = @events.first.band.name + "'s" if params[:band_id] %>

<h1> All <%= band_name %> Events (<%= @events.count %>) </h1>
<hr>

<div id="map-container">
	<%= render 'tours/map', geo_data: @geo_data %>
</div>

<%= button_to "Get Embed", "javascript:dropDown('#hidden')", 
	method: :none, 
	class: "tour-buttons" %>
		
<%= render 'events/embed' %>

<% if @band %>
	<% if current_user.is_band_admin?(@band) %>
	<br>
		<%= button_to "Grab Shows From Seat Geek", band_grab_shows_url(@band) %>

		<a href="<%= new_band_event_url(@band) %>">
			<div class="add-box">
				<h2> + Add Show </h2>
			</div>
		</a>
	<% end %>
<% end %>

<ul id="all-shows">
	<%= render @events, hide_band_name: false %>
</ul>