<h1> 
	<%= l @event.date, format: "%d %B %Y"  %> 
	<% unless @event.name.nil? || @event.name.empty? %>
	  - <%= @event.name %>
	<% end %>
</h1>

<% if current_user.is_band_admin?(@event.band) %>
	<%= link_to "Edit", edit_band_event_url(@event.band, @event) %> |
	<%= link_to'Delete', event_url(@event), method: :delete %>
<% end %>

<h2>	
<%= link_to @event.venue.name, venue_url(@event.venue) %> -
<%= @event.venue.address %> 
<%= @event.venue.city %> 
<%= @event.venue.state %> 
<%= @event.venue.zipcode %> 
</h2>

<h1> <%= link_to @event.band.name, band_url(@event.band) %> </h1>

<div id="map-container">
	<%= render 'tours/map', geo_data: @geo_data %>
</div>

<h1>
	<%= link_to "Get Tickets", @event.ticket_url unless @event.ticket_url.empty? %> 
</h1>

