<h1> 
	<%= l @event.date, format: "%d %B %Y"  %> 
	<% unless @event.name.empty? %>
	  - <%= @event.name %>
	<% end %>
</h1>

<%= image_tag @event.poster.url(:medium), class: "header-image" %>

<% if current_user.is_band_admin?(@event.band) %>
	<%= link_to "Edit", edit_band_event_url(@event.band, @event) %> |
	<%= link_to'Delete', event_url(@event), method: :delete %>
<% end %>
	
<h2> Band: <%= link_to @event.band.name, band_url(@event.band) %></h2>

<ul id="block-details">
	<li class="block-detail"> 
		<a href="<%= venue_url(@event.venue) %>"> 
			Venue: <%= @event.venue.name %> 
		</a>
	</li>
	<li class="block-detail"> Address: <%= @event.venue.address %> </li>
	<li class="block-detail"> City: <%= @event.venue.city %> </li>
	<li class="block-detail"> State: <%= @event.venue.state %> </li>
	<li class="block-detail"> Zip Code: <%= @event.venue.zipcode %> </li>
</ul>