<% heading = (@tour.persisted?) ? "Edit Tour" : "Create A Tour" %>
<% submit = (@tour.persisted?) ? "Update Tour" : "Create Tour" %>
<% action = (@tour.persisted?) ? tour_url(@tour) : band_tours_url(@band) %>

<h1><%= heading %></h1>
<hr>

<%= render 'layouts/errors' %>

<form id="new-tour-form" action="<%= action %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	<% if @tour.persisted? %>
	  <input type="hidden" name="_method" value="put">
	<% end %>
	
	<div class="input">
	<label for="tour_name">Tour Name</label>
	<input id="tour_name" type="text" name="tour[name]" value="<%= @tour.name %>">
	</div>
	
	<h2> Add Shows </h2>
	
	<div class="checkboxes">
	<% @band.events.each do |event| %>
	    <div class="checkbox">
		<input type="checkbox" 
			   name="tour[event_ids][]" 
			   id="<%= event.object_id %>" 
			   value="<%= event.id %>"
			   <%= @tour.event_ids.include?(event.id) ? "checked" : "" %>>
	   		<label for="<%= event.object_id %>">
	   		  <%= l event.date, format: "%d %B %Y" %> -
	   		  <%= event.venue.name  %>
   		</label>
	   </div>
	   <hr>
    <% end %>
	</div>
	 
	<div class="submit"> 
	  <input type="submit" value="<%= submit %>">
	</div>
</form>