<h1> <%= link_to @tour.band.name, band_url(@tour.band) %> - <%= @tour.name %> - <%= @tour.events.count %> Shows </h1>
<%= link_to "Edit", edit_band_tour_url(@tour.band, @tour) %> |
<%= link_to "Delete", tour_url(@tour), method: :delete %>

<div id="map-container">
	<%= render 'tours/map', geo_data: @geo_data %>
</div>


<h2> Total Travel Distance: <%= @distance %> miles</h2>

<%= render 'events/list', events: @tour.events, hide_band_name: true %>