<h1> All Venues </h1>

<ul id="all-venues">
	<% @venues.each do |venue| %>

	<li id="venue-block">
		<ul>
		  <li> <h3> <a href="<%= venue_url(venue) %>"><%= venue.name %> </a></h3> </li>
	    </ul>
		
		<hr>
		
		<ul id="venue-list">
			<li class="venue-detail"> Address: <%= venue.address %> </li>
			<li class="venue-detail"> City: <%= venue.city %> </li>
			<li class="venue-detail"> State: <%= venue.state %> </li>
			<li class="venue-detail"> Zip Code: <%= venue.zipcode %> </li>
		</ul>
	</li>
	
	<% end %>
</ul>