<h1> <%= @venue.name %> </h1>

<%= image_tag @venue.image.url, class: "header-image"%>

<li class="block-detail"> Address: <%= @venue.address %> </li>
<li class="block-detail"> City: <%= @venue.city %> </li>
<li class="block-detail"> State: <%= @venue.state %> </li>
<li class="block-detail"> Zip Code: <%= @venue.zipcode %> </li>

<h2> Upcoming Events at <%= @venue.name %>: </h2>
<%= render 'events/list', events: @venue.events, hide_band_name: false %>
