<h1> <%= @venue.name %> </h1>
<%= @venue.address %>
<%= @venue.city %> 
<%= @venue.state %> 
<%= @venue.zipcode %>
<hr>

<div id="map-container">
	<%= render 'tours/map', geo_data: @geo_data %>
</div>



<h2> Upcoming Events at <%= @venue.name %>: </h2>
<%= render @venue.events, hide_band_name: false %>
