<% unless user.bands.empty? %>

	<h2><%= current_user == user ? "Your" : user.email+"'s" %> Bands:</h2>

	<ul id="all-bands">
	
	<% user.bands.each do |band| %>
	
	 <li id="band-block">
		<ul class="block-header">
		  <li class="block-header-item"> <h3> <%= link_to band.name, band_url(band) %> <h3> </li>
		  <li class="block-header-item"> 
			  <%= image_tag band.image.url(:thumb), class: "small-image" %>
		  </li>
		</ul>
	 
		<hr>
		 
		<ul class="block-details">
		  <% unless band.role_of(user).empty? %>
		    <li class="block-detail"> Role: <%= band.role_of(user) %> </li>
		  <% end %>
		  
		  <% if user.is_band_admin?(band) %>
		    <li class="block-detail"> 
				<%= link_to 'Edit Band', edit_band_url(band)%> 
			</li>
		    <li class="block-detail"> 
				<%= link_to 'Delete Band', band_url(band), method: :delete %> 
			</li>
		  <% end %>
		</ul>
	 </li>
	
	<% end %>
	
	</ul>
<% end %>