<h1> <%= @band.name %> </h1>

<%= image_tag @band.image.url(:medium), class: "header-image" %>

<% if current_user.is_band_admin?(@band) %>
	<%= link_to 'Edit Band', edit_band_url(@band)%> |
	<%= link_to 'Delete Band', band_url(@band), method: :delete %> 
<% end %>

<h3> Members </h3>
<ul id="members-list">
<% @band.band_memberships.each do |membership| %>
  <li class="member-list-item">
	  <%= image_tag membership.member.image.url(:thumb), class: "small-image" %>
	  <%= membership.member.email %> - 
	  <%= membership.role %>
  </li>
<% end %>
</ul>

<% if current_user.is_band_admin?(@band) %>
	<a href="<%= new_band_tour_url(@band) %>">
		<div class="add-box">
			<h2> + Create a Tour </h2>
		</div>
	</a>
<% end %>

<% if @band.tours.count > 0 %>
	<h2> Tours (<%= @band.tours.count %>) </h2>
	<%= render 'tours/list', tours: @tours %>
<% end %>

<h2> Events (<%= @band.events.count %>) </h2>

<% if current_user.is_band_admin?(@band) %>
	<a href="<%= new_band_event_url(@band) %>">
		<div class="add-box">
			<h2> + Add Show </h2>
		</div>
	</a>
<% end %>

<%= render 'events/list', events: @events, hide_band_name: true %>

<% if current_user.is_band_admin?(@band) %>
	<%= render 'events/form', band: @band %>
<% end %>