<h1> <%= @band.name %> </h1>

<h2> shows (<%= @events.count %>): </h2>

<% @events.each do |event| %>

<p>
	<%= event.name %> :: 
	<%= distance_of_time_in_words(Time.now, event.date) %> from now ::
	<%= link_to 'delete', event_url(event), :method => 'delete' %>
</p>

<% end %>

<%= render 'events/form', band: @band %>