<h4> <%= @band.name %> </h4>

<h5> shows (<%= @events.count %>): </h5>

<% @events.each do |event| %>

<p>
	<%= event.name %> :: 
	<%= event.venue.name %> :: 
	<%= distance_of_time_in_words(Time.now, event.date) %> from now ::
	<%= link_to 'delete', event_path(event), :method => 'delete' %>
</p>

<% end %>

<%= render :partial => 'events/form' %>