<% if signed_in? %>

<header>
	<nav class="clearfix">
			
		<ul id="left-nav">
			<li class="nav-list-item"> 
				<%= link_to 'Manage', user_url(current_user), id: 'manage-link' %> | 
			</li>
			
			<li class="nav-list-item"> 
				<form action="<%= band_search_url %>" method="post">
					<input type="hidden" 
					name="authenticity_token" 
					value="<%= form_authenticity_token %>">
					
					<input id="header-search" type="search" name="search" placeholder="Find Band">
				</form>
			</li>
		</ul>
		
		
		<ul id="right-nav">	
			<li class="nav-list-item"> 
				<%= link_to "Requests", user_member_requests_url(current_user) %> 
				(<%= current_user.pending_requests.count %>) |
			</li>
			
			<li class="nav-list-item"> 
				<%= link_to "Settings", edit_user_url(current_user) %> |
			</li>
			
			<li class="nav-list-item"> 
				<%= button_to 'Log Out', logout_url, method: :delete, id: 'logout'  %>
			</li>
		</ul>
		
		
	</nav>
</header>

<% end %>